.LoadScreen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
}

.LoadCircle {
    fill: transparent;
    stroke: gainsboro;
    stroke-width: 10px;
    stroke-dasharray: 320;
    animation: 0.5s infinite load;
}
@keyframes load {
    0% {
        stroke-dashoffset: 640;
    }
    100% {
        stroke-dashoffset: 0;
    }
}