*,::before,::after {
    box-sizing: border-box;
}
html {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #303030;
}
.app-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 15px;
    height: 70px;
    background: linear-gradient(#404040, dimgray);
}
.navlink, .link {
    text-decoration: none;
}
.navlink {
    color: inherit;
    border: 1px solid;
    height: 70%;
    width: 50%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link {
    color: turquoise;
}
.error-info {
    color: firebrick;
    font-size: 0.8rem;
    margin:0;
    text-align: center;
}
.auth-info {
    font-size: 1.2rem;
    color: turquoise;
    text-align: center;
}
.noauth {
    color: lightcoral
}
h1 {
    margin: 10px;
}
.auth-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 400px;
    border-radius: 10px;
    border: 1px solid;
    width: max(50%, 350px);
    align-items: center;
    justify-content: center;
}
.input-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
}
.input {
    padding: 5px;
    width: 50%;
    background: none;
    border: 1px solid;
    color: inherit;
    transition: 0.1s;
    border-radius: 5px;
}
.blocky {
    width: 50px;
    height: 50px;
}
.sm {
    width: 70px;
}
button.input {
    background: linear-gradient(#404040 60%, dimgray);
}
input.input:focus, button.input:hover, .navlink:hover{
    box-shadow: 0 0 7px 2px;
}
input.input:focus {
    outline: none;
}
.auth-btn {
    margin-top: 20px;
}
.chat-rooms-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: max(80%,350px);
    height: 450px;
    overflow-y: auto;
    border: 1px solid;
    padding: 5px;
}
.chat-room {
    padding: 5px;
    border: 1px solid;
    display: flex;
    gap: 5px;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 5px;
}
.chat-room:hover {
    box-shadow: 0 0 5px 1px;
}
.my-room {
    color: turquoise;
}
.chat-room-name {
    flex: 1;
    margin: 0;
}
.chat-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.chat-window {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    border: 1px solid gainsboro;
    width: max(80vw, 350px);
    height: 400px;
    overflow-y: auto;
}
.input-wrapper {
    display: flex;
    gap: 10px;
}
.col {
    flex-direction: column;
    width: min(80vw, 400px);
    gap: 15px;
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
}
.col > * {
    width: 100%;
}
.msg-input {
    flex: 1;
}
.msg {
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    min-width: 250px;
    max-width: 500px;
    width: 70%;
}
.msg > * {
    margin: 0;
}
.my-msg {
    background: palegreen;
    color: darkolivegreen;
    margin-left: auto;
}
.msg-user {
    font-weight: bold;
}
.msg-timestamp {
    font-size: 0.7rem;
    margin-top: 10px;
}
.typing-info {
    color: lightseagreen;
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
    margin:0;
}

@media (max-width: 500px) {
    html {
        font-size: 16px;
    }
}